

.logo b {
  font-size: 24px;
  color: var(--ac);
}

/* Splash Page Layout */
.splash-page {
  height: 100dvh;
  width: 100%;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  text-align: center;
  >* {
    position: relative;
    z-index: 1;
  }
}

.glow {
  position: absolute;
  width: 400px;
  height: 400px;
  background: radial-gradient(circle, var(--cta) 0%, rgba(63, 210, 255, 0) 60%);
  filter: blur(80px);
  bottom: -200px;
  animation: glowMove 3s infinite alternate;
  z-index: 0;
}

/* Buttons */
.splash-buttons {
  margin-top: 24px;
  display: flex;
  gap: 16px;
}

.splash-btn {
  background-color: var(--cta);
  color: var(--ac);
  padding: 10px 20px;
  width: 150px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.splash-btn:hover {
  background-color: var(--cta-h);
  transform: translateY(-4px);
}

.splash-btn.outline {
  background: transparent;
  box-shadow: inset 0 0 0 2px var(--cta);
  color: var(--cta);
}

.splash-btn.outline:hover {
  box-shadow: inset 0 0 0 2px var(--cta-h);
  background-color: var(--cta-h);
  color: var(--ac);
}

/* Animation */
@keyframes glowMove {
  0% {
    transform: translateY(0) translateX(0) scale(1);
  }
  100% {
    transform: translateY(0) translateX(0) scale(1.5);
  }
}
